.Stations {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.StationsContainer {
  max-height: 500px;
  max-width: 500px;
  min-width: 300px;
}

.StationsList {
  list-style-type: none;
  overflow-y: auto;
  height: 400px;
  padding: 0px;
  margin: 10px 0px;
  border: 1px solid grey;
  border-radius: 3px;
}

.Station {
  padding: 0px 5px;
  height: 30px;
  display: flex;
  align-items: center;
}

.Station > a {
  text-decoration: none;
}

.Station:nth-child(2n + 1) {
  background-color: lightgrey;
}

.Station:hover {
  font-size: 14px;
  transition: font-size 300ms;
}