.SearchField {
  width: 100%;
  height: 30px;
  display: grid;
  grid-template-columns: auto auto;
}

.SearchField > input {
  height: 26px;
  margin-right: 10px;
  border: 1px solid grey;
  border-radius: 3px;
}

.SearchField > button {
  height: 30px;
  border: 1px solid grey;
  border-radius: 3px;
  cursor: pointer;
}
